{% extends '::base_public.html.twig' %}

{% block content %}

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Welcome to Jedy CMS</h1>
    </div>

    <div class="row">
        {{ nav_locale('prueba1', app.request.locale)  }}
    </div>

{% endblock %}
