{% extends ':admin:base_admin.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1>Jedy</h1>
        <p>{{ 'description'|trans() }}</p>
        <p><a href="https://github.com/JuanLuisGarciaBorrego/jedy" target="_new" class="btn btn-primary btn-lg"><i class="fa fa-github"></i> {{ 'view.project'|trans() }}</a></p>
    </div>

{% endblock %}