{% extends ':admin:base_admin.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1>Jedy</h1>
        <p>A multilangual cms based on Symfony3 framework.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>

{% endblock %}
