{% extends 'public/base_public.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block content %}

    <div class="jumbotron text-center">
        <h1>{{ 'app.welcome'|trans }}</h1>
        <p>{{ 'app.description'|trans()|raw }}</p>
        <p><a href="https://github.com/JuanLuisGarciaBorrego/jedy" target="_new" class="btn btn-primary btn-lg"><i class="fa fa-github"></i> {{ 'app.view.project'|trans() }}</a></p>
    </div>

    <div class="row">
    </div>

{% endblock %}
