{% extends ':admin:base_admin.html.twig' %}

{% block content %}
    <a href="{{ path('admin_category_new') }}">New</a>
    <hr>
    {% for category in categories %}
        {{ category.name}} [{{ category.locale }}] - <a href="{{ path('admin_category_translations', {'id': category.id}) }}">Translations</a><br>
    {% endfor %}

{% endblock %}
